body, h1, h2, p, ul, li 
{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: rgb(249, 255, 163);
    font-family: Arial, sans-serif;
}

header {
    
    color: #fff;
    padding: 10px 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 20px;
}
ul
{
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

li 
{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

li a 
{
    text-decoration: none;
    color: rgb(176, 243, 234);
    font-weight: bold;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {  
    border: none;
    font-size: 20px;
    outline: none;
    padding: 14px 16px;
    padding-top: 0;
    text-decoration: none;
    color: rgb(176, 243, 234);
    font-weight: bold;
    background-color: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    text-decoration: underline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(176, 243, 234);
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    text-transform: uppercase;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
img
{
    height: 100px;
    width: 100px;
    padding-top: 10px;
    margin-left: 0;
    align-items: left; 
    border-radius: 50%;
}
h3
{
    padding-top: 120px;
    padding-left: 30px;
    padding-bottom: 0;
    font-size: 50px;
}
h4
{
  padding-top: 0;
  font-size: 35px;
  padding-left: 40px;  
}
p
{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 0%;
}
button
{
    background-color: black;
    border: none;
    float: right;
    padding-right: 0;
    width: 50%;

}
.popup-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(249, 255, 163);
    margin-left: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    animation: popUp 2s infinite alternate;
}

@keyframes popUp {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1.4); 
    }
}
.popup-button
{
    text-decoration: none;
    font-size: 20px;
    
}
#trends
{
    margin-top: 10%;
    float: right;
    margin-right: 200px;
    width: 300px;
    height: 300px;
}
#tex
{
    display: inline-block;
    width: 45%;
}
h6
{
    font-size: 25px;
}
#nf
{
    padding-top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    
}